
.example-container {
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
  }
  
  .container{
    max-width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: .5%;
  }
  
  table {
    width: 1800px;
    
   
  }
  .jqxGrid{
    height:100%
  }
  .contianer1{
    //min-height:8vh;
    //height:8vh;
    max-height:20vh;
    border:2px;
    border-color: white;
    padding-bottom: 10px;;
    
    
  }
  .contianer2{
    
    min-height:70vh;
    max-height:70vh;
    height: fit-content;
    border: 10px;
    border-color: white;
    //background-color: aqua;
  }
 
  .example-spacer2
  {
    flex:1 1 auto;
    align-self: center;
  }
  .dialog-container-custom .mat-dialog-conatiner{
    height:0%
  }


  
  .example-justify {
    text-align: center;
    //border-color: rgb(35, 212, 212);
   //background-color: aqua;
    justify-content: center;
    margin: 0%;
    

  }
 
  .mat-h4, .mat-subheading-1, .mat-typography .mat-h4, .mat-typography .mat-subheading-1, .mat-typography h4{margin:0 0 0 0;}
  .alignCenter{
    vertical-align: sub;
    
  }
  .darkMode .mat-expansion-panel-header-description, .darkMode .mat-expansion-indicator::after {
    color: rgb(255, 255, 255);
    flex-grow: 5;
}
.darkMode .mat-expansion-panel-header-title{
  flex-grow:4;
}
 
  .redColor{
    color:rgb(250, 4, 4) !important;
    text-align: center;
    vertical-align:baseline;
    
    
  }
  .greenColor{
    color:rgba(4, 195, 1) !important;
    text-align:right;
    
    //margin-top: 10px;
  }
  .darkMode .mat-expansion-panel-header {
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    align-items: center;
    padding: 5px 24px;
    margin: 4px 0px 4px 0px;
    border-radius: inherit;
    transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  //border: 1px solid grey;
  align-items: center;
  padding: 0 24px 0px;
  margin: 4px 0px 4px 0px;
  border-radius: inherit;
  transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

  
  span.b {
    display: inline-block;
    width: 60px;
    height: 20px;
    padding-left: 10px;
    border: 1px ;    
    vertical-align: middle;
    background-color: blue;
    text-align: right;
  }
  span.ytdandQTD {
    display: inline-block;
    width: 40px;
    height: 20px;
    padding-left: 10px;
    border: 1px ;    
    vertical-align: middle;
    background-color: blue;
    text-align: right;
  }
  span.navandclose {
    display: inline-block;
    width: 40px;
    height: 20px;
    padding-left: 10px;
    border: 1px ;    
    vertical-align: middle;
    background-color: blue;
    text-align: right;
  }
  span.MTDandDAILY {
    display: inline-block;
    width: 40px;
    height: 20px;
    padding-left: 10px;
    border: 1px ;    
    vertical-align: middle;
    background-color: blue;
    text-align: right;
  }
  // .mat-expansion-panel-content {
  //   border: 1px solid grey;
  // }
  // .darkMode .mat-expansion-panel-content {
  //   border: 1px solid white;
  // }

  
  span.c {
    //background-color: purple;
    text-align: right;
    display: inline-block;
    width: 90px;
    height: 20px;
    padding: 0px;
    border: 1px ;    
    vertical-align: middle;
  }
  // for nav and close and MTD n Daily
  span.navNclose {
    display: inline-block;
    width: 35px;
    height: 20px;
    padding: 0px;
    border: 1px ;    
    vertical-align: middle;
    //background-color: aqua;
   
  }
  span.number {
    background-color: rgb(0, 119, 255);
    text-align: left;
    display: inline-block;
    width: 110px;
    height: 20px;
    padding: 0px;
    border: 1px ;    
    vertical-align: middle;
    //background-color: aqua;
  }
  span.percent {
    //background-color: #9E9E9E;
    text-align: left;
    display: inline-block;
    width: 50px;
    height: 20px;
    padding: 0px 0px 0px 10px;
    border: 1px ;    
    vertical-align: middle;
    //background-color: aqua;
  }
  span.percent2 {
    //background-color: #9E9E9E;
    text-align: left;
    display: inline-block;
    width: 60px;
    height: 20px;
    padding: 0px;
    border: 1px ;    
    vertical-align: middle;
    //background-color: aqua;
  }
  span.number2 {
    text-align: left;
    display: inline-block;
    font: 400 15px / 24px Roboto, "Helvetica Neue", sans-serif;
    width:90px;
    height: 20px;
    padding: 0px;
    border: 1px ;    
    vertical-align: middle;
    background-color: aqua;
  }
  .jqx-widget-dark .jqx-grid-column-header-dark {
    
    font-size: 14px;
  }
  .jqx-grid-column-header {
    font-weight: bold;
    
  }
    .jqx-grid-cell {
    color: rgb(7, 7, 7);
    font-size: 12px;
  }
  .mat-expansion-panel-header-description, .mat-expansion-indicator::after {
    color: rgb(0 0 0);
}
.jqx-grid-header-dark  {
  height:500px;
  }
  .jqx-grid-cell {
    //border-color: black !important;
    border-right: none;
    border-bottom-width: 0.1px;
    font-size: 14px;;
  }
  .jqx-grid-cell .jqx-grid-cell-left-align {
    margin-top: 10px !important;
  }
  
  .jqx-grid-statusbar span {
    color: rgb(148, 198, 255);
    font-size: 12px;
  }
  

.jqx-grid-cell-alt-dark {
  background: #1e262e;
  color: var(--jqx-surface-color);
}
:root {
    --jqx-primary-rgb: 51, 173, 255,0.4;
    --jqx-primary: rgb(var(--jqx-primary-rgb));
    --jqx-background: #000000;
    --jqx-background-color: #ffffff;
    --jqx-surface: #1e262e;
    --jqx-surface-color: #f5f5f5;
    --jqx-border:#ffffff;
    --jqx-background-hover-rgb: 60, 60, 60;
    --jqx-background-hover: rgb(var(--jqx-background-hover-rgb));
    --jqx-background-color-hover: rgba(255, 255, 255, .54);
    --jqx-scrollbar-background: #3E3E42;
    --jqx-scrollbar-border: #1E1E1E;
    --jqx-scrollbar-thumb-background: #686868;
    --jqx-scrollbar-thumb-border: #3E3E42;
    --jqx-scrollbar-thumb-background-hover: #9E9E9E;
    --jqx-scrollbar-thumb-border-hover: #9E9E9E;
    --jqx-scrollbar-thumb-background-pressed: #f5f5f5;
    --jqx-scrollbar-thumb-border-pressed: #f5f5f5;
    --jqx-scrollbar-button-color-hover: #333;
    --jqx-scrollbar-button-background-hover: #9E9E9E;
    --jqx-scrollbar-button-border-hover: #9E9E9E;
    --jqx-scrollbar-button-color-pressed: #333;
    --jqx-scrollbar-button-background-pressed: #f5f5f5;
    --jqx-scrollbar-button-border-pressed: #f5f5f5;

}
.darkMode.mat-app-background {
  background-color: #000000;
}
.darkMode .mat-toolbar {
  background: #000000;
  //color: white;
}
.darkMode .mat-expansion-panel {
  background: #000000;
  //color: white;
}

mat-progress-spinner{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index:5;
}

.darkMode .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: rgb(43 56 66);
}
.darkMode .mat-select-panel {
  background: #141a1f;
}
.darkMode .mat-dialog-container {
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
  background: #141a1f;
  color: white;
}
  
// ::ng-deep .mat-expansion-panel-body {
//   padding: 0 24px 1px !important;
// }
::ng-deep .darkMode .mat-expansion-panel-header-description {
  flex-grow: 4;
}
::ng-deep .mat-expansion-panel-header-title{
  flex-grow:2
}

.box{
  display: inline-block; /* the default for span */
  width: fit-content;
  height: fit-content;
  margin-right: 8px;
  //border: 1px solid blue;
  //background-color: yellow; 
}

.heading{
  display: inline-block;
  height:auto;
  width:auto;
  //background-color: blue;
  text-align:right;
}

.headingValue{
  display: inline-block;
  //background-color:palevioletred;
  text-align:left;
}