<router-outlet ></router-outlet>
<!-- <app-log-in (sendDataEvent)="Receivedata($event)"></app-log-in> -->
<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Positions</button>
  <button mat-menu-item>Logout</button>
</mat-menu>
    <span class="example-spacer">
        <!-- Arbor Portfolio Manager -->
    </span>
    <button mat-icon-button [matMenuTriggerFor]="menu2"><mat-icon>settings</mat-icon></button>
<mat-menu #menu2="matMenu">
     <button mat-menu-item><span>Export to CSV</span></button> 
     <button mat-menu-item>Export to PDF</button> 
    <button mat-menu-item>Filter</button>
    <button mat-menu-item>Fund Period</button>
    <button mat-menu-item>Ordering</button>
</mat-menu>
  </mat-toolbar>
  